body{
	margin: 0px;
}
header{
	width: 100%;
	background-color:#4867aa;
	padding-top: 7px;
    padding-left: 10px;
    box-sizing: border-box;
}

.head{
	color: white;
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}

.head img{
	width: 190px;
    height: 70px;
}

header .button{
	text-decoration: none;
    /*padding: 0px 0px;*/
    color: white;
    float: right;
    margin-right: 182px;
    margin-top: -46px;
}
.text{
	padding-bottom: 4px;
    margin-left: 64%;
    margin-top: -14px;
	/*display: inline-block;*/
}

.head a{
	color: white;
	text-decoration: none;
}

button{
	background-color:#4167b1;
	border:1px solid #29487d;
}

.email, .password{
	display: inline-block;
}
button a{
	color: white;
	text-decoration: none;
}

.content{
	background-color: #eff1f7;
	width: 100%;
	
}

.left{
	display: inline-block;
	padding-left: 150px;
	padding-top: 30px;
	color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    width: 470px;
    word-spacing: 0px;
    vertical-align: top;

}

.form{
	/*float: right;*/
	display: inline-block;
	width: 500px;
	padding-left: 100px;
	margin-left: 5px;

}
h2{
	font-family: inherit;
	font-size: 36px;
	color: #333;
	font-weight: 600;
}

.form1 input[type=text]{
	width: 77%;
	padding: 12px 20px;
	margin: 8px 0;
	margin-left: 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form1 input[type=password]{
	width: 77%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=date]{
	width: 60%;
	/*padding:3px px;*/
	box-sizing: border-box;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}


.namebox{
	display: inline-flex;
	width: 77%;

}

.radio{
	color: #1d2129;
	/*margin-left: 5px;*/
	padding-top: 5px;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;

}
.date{
	/*margin-left: 5px;*/
	padding-top: 7px;
}

.radio input[type=number]{
	padding:4px;
}

.text1{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;

}
.text a ,.text1 a{
	text-decoration: none;
	color: #9cb4d8;
    font-weight: normal;
}

.text1 a{
	text-decoration: none;
	color:#828282;
}

form  .button{
	padding: 13px 70px;
	border:1px solid #3a2e2e;
	border-radius: 4px;
	color:white;
	background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}
form .button a{
	min-width: 194px;
    padding: 7px 20px;
    text-align: center;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
	text-decoration: none;
	color: white;
}
.policy p{
	font-family: inherit;
	color: #777;
    font-size: 11px;
    width: 316px;
}

.create p{
	border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}

p a {
	text-decoration: none;

}
